@model GameWeb.Models.CharactersViewModel


<h2>@Model.gameStatus</h2>

<p>You were killed by @Model.alien.alienName</p>
<p>Please insert 50 cents to play again</p>

@using(Html.BeginForm("Characters","Home", FormMethod.Post)){

@Html.TextBoxFor(model => model.alien.alienName, new { @class = "form-control hide" })

    <button type="Submit" value="Save">Retry</button>
}